:root {
  --primary-color: #1d437c;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 120px;
  padding: 100px;
}
