:root {
  --primary-color: #273243;
  --secondary-color: #ede5e9;
  --tertiary-color: #932d1b;
  --accent-color: #c2c0bd;
}

body {
  background-color: var(--primary-color);
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--secondary-color);
  text-align: center;
  font-size: 180px;
  margin: 0 auto;
  line-height: 0.65;
}

h2 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
  line-height: 2.3;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
}

hr {
  margin-top: 25px;
  background-color: var(--accent-color);
}

.button a {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  display: block;
  margin: 100px auto;
  font-size: 22px;
  font-family: "Molengo", sans-serif;
  font-weight: 300;
  padding: 26px 30px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  width: 130px;
  letter-spacing: 0.8px;
  transition: all 100ms ease-in-out;
}

.button a:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}

.small-button a {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  display: block;
  margin: 35px 30px 25px 30px;
  font-size: 18px;
  font-family: "Molengo", sans-serif;
  font-weight: 300;
  padding: 23px 27px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.8px;
  transition: all 100ms ease-in-out;
}

.small-button a:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 21px 27px;
}

.hero {
  padding: 300px 30px 340px 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(media/aurora-hero.png);
  background-position: bottom;
  background-size: cover;
  height: 120px;
  border-bottom: 0.5px solid var(--secondary-color);
}

main {
  padding: 75px 100px;
}

.info-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 30px 60px 40px 60px;
  border: 0.5px solid var(--accent-color);
  border-radius: 12px;
  margin-bottom: 80px;
  background-color: var(--accent-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.info-columns img {
  margin: 20px;
  border-radius: 12px;
  padding: 6px;
}

.info-columns p {
  color: var(--primary-color);
  margin: 2px auto;
  font-size: 16px;
  text-align: left;
  font-family: "Molengo", sans-serif;
  display: block;
  line-height: 1.35;
  font-size: 18px;
  font-weight: 100;
  padding-right: 10px;
  opacity: 80%;
}

.info-columns h2 {
  font-weight: 300;
  font-size: 38px;
  font-family: "Roboto";
  text-align: left;
  font-weight: 400;
  margin: 0;
  color: var(--primary-color);
}

.info-columns .subtitle h5 {
  text-align: left;
  margin: 0 auto;
  padding-bottom: 0;
  line-height: 2.3;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
}

.songs-section {
  padding: 60px 40px;
}

.songs-section h2 {
  font-weight: 300;
  font-size: 38px;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.songs-section .subtitle h5 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
  line-height: 2.3;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
}

.songs-section h3 {
  font-size: 20px;
  text-align: left;
}

.songs-section h4 {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  text-align: left;
}

.songs-section p {
  margin-top: 10px;
  text-align: left;
}

.songs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 30px;
}

.embed {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: block;
  aspect-ratio: 19/11;
}

.embed-clip {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: block;
  aspect-ratio: 19/19;
}

.songs {
  border-radius: 12px;
  text-align: center;
  background-color: var(--secondary-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.card {
  text-align: center;
  color: #334157;
  font-family: "Molengo", sans-serif;

  padding: 12px 30px;
}

.clip-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 60px 180px;
}

.part-3 {
  padding-bottom: 60px;
  padding-top: 40px;
}

.part-3 h2 {
  font-weight: 300;
  font-size: 38px;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;

  color: var(--secondary-color);
}

.part-3 .subtitle h5 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
  line-height: 2.3;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
}

.footer-columns {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-gap: 50px;
  padding: 45px 80px 42px 80px;
  margin: 0 auto;
  text-align: left;
  color: var(--secondary-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(media/aurora-heart.png);
  background-size: cover;
  background-position: top;
  font-family: "Molengo", sans-serif;
  border-top: 0.5px solid var(--secondary-color);
}

.footer-columns h4 {
  margin: 0 auto;
  font-family: "Molengo", sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 12px;
}

.footer-columns a {
  margin: 2px auto;
  font-size: 16px;
  text-align: left;
  font-family: "Molengo", sans-serif;
  text-decoration: none;
  display: inline;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 300;
  color: var(--secondary-color);
  opacity: 80%;
}

.footer-columns ul {
  padding-left: 0;
  margin: 0 auto;
  padding-right: 10px;
}
.footer-columns li {
  list-style-type: none;
}

.footer-columns p {
  margin: 2px auto;
  font-size: 16px;
  text-align: left;
  font-family: "Molengo", sans-serif;
  display: block;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 300;
  opacity: 80%;
  padding-right: 10px;
}

@media (max-width: 1250px) {
  .footer-columns {
    padding: 40px 20px 40px 45px;
  }
  .info-columns {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }

  .info-columns p,
  .info-columns h2,
  .info-columns .subtitle h5 {
    text-align: center;
    padding: 0px 20px;
  }

  .info-columns h2 {
    margin-bottom: 12px;
    line-height: 1.5;
  }

  .info-columns .subtitle h5 {
    padding-bottom: 0;
  }

  .info-columns img {
    text-align: center;
    display: block;
    margin: 15px auto;
  }

  .songs-grid {
    grid-template-columns: 1fr;
  }

  .songs {
    margin-top: 25px;
  }

  .clip-grid {
    padding: 40px 40px;
  }

  .part-3 {
    padding-top: 70px;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 95px;
  }
  h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  a {
    margin: 80px auto;
  }
  .footer-columns {
    padding: 40px 20px 40px 40px;
  }
  .info-columns {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }

  .info-columns p,
  .info-columns h2 {
    text-align: center;
    padding: 0px 20px;
  }

  .info-columns h2 {
    margin-top: 5px;
  }

  .info-columns img {
    text-align: center;
    display: block;
    margin: 15px auto;
    width: 400px;
  }

  .songs-section {
    padding-top: 170px;
  }
}

@media (max-width: 800px) {
  .footer-columns {
    grid-template-columns: 1fr;
    padding: 42px 10px 42px 32px;
  }
  .footer-columns ul,
  .footer-columns p {
    margin-bottom: 5px;
  }

  .info-columns {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }

  .info-columns p,
  .info-columns h2 {
    text-align: center;
    padding: 0px 20px;
  }

  .info-columns img {
    text-align: center;
    display: block;
    margin: 15px auto;
    width: 400px;
  }
  .songs-section {
    padding: 140px 10px 40px 10px;
  }

  .part-3 {
    display: none;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 70px;
  }
  .info-columns img {
    display: none;
  }

  .info-columns {
    padding: 30px 10px;
    margin: 0;
    grid-gap: 0px;
  }

  .info-columns h2 {
    font-size: 30px;
  }

  .info-columns p {
    padding: 20px;
    margin: 0;
  }

  main {
    padding: 15px 30px;
    margin-bottom: 35px;
  }

  .songs-section {
    padding: 140px 10px 40px 10px;
  }

  .songs-section h2 {
    font-size: 30px;
  }
}
