:root {
  --primary-color: #1d437c;
  --secondary-color: #ede5e9;
  --tertiary-color: #932d1b;
}

body {
  background-color: var(--primary-color);
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--secondary-color);
  text-align: center;
  font-size: 180px;
  margin: 0 auto;
  line-height: 0.65;
}

h2 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
  line-height: 2.3;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
}

button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  display: block;
  margin: 100px auto;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 26px 30px;
  border-radius: 18px;
  border: 0.5 solid var(--secondary-color);
}

.hero {
  padding: 300px 30px 340px 30px;
  background-image: url(media/aurora-hero.png);
  background-position: bottom;
  background-size: cover;
  height: 120px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 95px;
  }
  h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  button {
    margin: 80px auto;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 70px;
  }
}
